@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(img/bg-pattern-top.svg), url(img/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom 41vh right 52vw, top 60vh left 47vw;
    background-color: #19A1AE;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 173px auto;
    width: 350px;
    background-color: white;
    border-radius: 15px;
}

.container-bg {
    display: block;
}

.pofile-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 87px;
    left: 122px;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #ffffff;
}

.profile-img {
    border-radius: 50%;
}

h1 {
    margin-top: 72px;
    margin-bottom: 13px;
}

h1,
h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2E3349;
}

span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6B7082;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6B7082;
}

p::after {
    content: "";
    position: absolute;
    top: 285px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E8E9EC;
}

.social {
    margin: 53px 55px 27px 48px;
    display: flex;
    justify-content: space-between;
}

.social p {
    margin-top: 9px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #6B7082;
}